*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    font-family: "Arima", system-ui;
    cursor: pointer;
}
/* Start Section one */
.sec1
{
    background-image: url(../images/Background.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #12372A;
    display: flex;
    flex-direction: column;
}

/* Start Styling Groups*/

.na1,
.na2,
.na2-logo,
.na2 ul,
.na1 ul,
.foot-top,
.foot-middle,
.foot-middle-logo,
.sec2-container,
.sec3-header,
.sec3-container,
.sec4-content-logo,
.sec4,
.sec5-container,
.sec5-header,
.sec6-container,
.sec6-header {
    display: flex;
    flex-direction: row;
}

.na1,
.na2,
.foot-top {
    justify-content: space-between;
}

.na1,
.na2 {
    padding: 0px 90px;
}

.na1 ul,
.na2 ul {
    list-style: none;
}

/* End Styling Groups */
.na1 {
    border-bottom: 1px solid #12372A;
}

.na1 ul li {
    margin: 7px 3px;
    font-size: 19px;
    color: #12372A;
}

.na1 ul li a,
.na2 ul li a {
    text-decoration: none;
    color: #12372A;
    text-transform: capitalize;

}
.na1
{
    z-index: 1000;
    overflow: visible;
}
.na1 ul li,
.icon-wrapper {
    box-sizing: border-box; /* Include padding/margins in height */
}
.na1 .na1-right-list li a,
.icon-wrapper {
    height: 30px !important; /* Force height to override any collapse */
}
.na1 ul li a 
{
    position: relative;
    z-index: 1000;
    padding: 0px 10px;
    height: 30px;
    min-width: 50px ;
    display: inline-flex;
    align-items: center;
}
.na1 ul li i
{
    position: relative;
    z-index: 1000;
}
.na1 .na1-right-list li a {
    position: relative; /* Ensure positioning */
    height: 30px; /* Explicit height */
    display: inline-flex;
    align-items: center;
}
.errory-tag
{
    position: relative;
    z-index: 1000;
}
.na2 ul li a,
.na2 ul li i {
    font-size: 19px;
    display: inline-block;
    margin: 32px 0px 0px 25px;

}

.icon-wrapper {
    position: relative;
    display: inline-block;
    transition: transform 1s;
    padding: 0 10px;
    height: 30px; /* Explicit height */
    display: inline-flex;
    align-items: center;
}

.na1 ul li a::after,
.na1 ul li a::before,
.icon-wrapper::after,
.icon-wrapper::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #9ab636;
    transition: height 1s ease;
}

.na1 ul li a::after,
.icon-wrapper::after {
    left: 0;
    bottom: 0;
}

.na1 ul li a::before,
.icon-wrapper::before {
    right: 0;
    top: 0;
}

.na1 ul li a:hover::after,
.na1 ul li a:hover::before,
.icon-wrapper:hover::before,
.icon-wrapper:hover::after {
    height: 100%;
}

.icon-wrapper i {
    display: inline-block;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.icon-wrapper:hover i {
    transform: rotateY(180deg);
    color: #819730;
}






.na2-logo , .foot-middle-logo
{
    font-size: 25px;
}
.na2-logo
{
    margin-top: 10px;
}
.na2-logo img , .foot-middle-logo img
{
    width: 130px;
    height:130px;
}
.na2-logo img
{
    margin: -25px 0px 0px -30px;
}
.na2-logo h2
{
    margin: 15px 0px 0px -30px;
    font-weight: 900;
}
.na2-logo span , .foot-middle-logo span
{
    margin-left: 10px;
    font-weight: 300;
    font-size: 30px;
}



.na2 {
    position: relative;
}

.na2-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: visible;
    position: relative;
    z-index: 0;
    padding-top: 10px;
}

.na2-list li a {
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
    position: relative;
    padding: 5px 10px;
    color: #12372A;
    transition: color 0.3s ease;
    height: 35px;
    box-sizing: border-box;
}

.na2-list li a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-item a.drop-toggle {
    display: inline-flex;
    align-items: center;
}

.menu-item a.drop-toggle i {
    margin-left: 6px;
    vertical-align: middle;
    margin-top: -1px;
    font-size: 17px;
    transition: transform 0.5s ease;
}

.menu-item {
    position: relative;
}

.dropDown {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 0;
    transition: max-height 0.7s ease, opacity 1s ease;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    background-color: #F5F5F5;
    color: #12372A;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 18px;
    width: 350px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.dropDown .row ul {
    list-style: none;
    display: block;
}

.dropDown li {
    display: block;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.na2-drop-element {
    transition: color 0.3s ease, transform 0.3s ease;
    margin-top: 5px;
}

.dropDownTitle {
    width: 50px;
    padding-bottom: 12px;
    border-bottom: 3px dotted #819730;
    font-weight: bold;
}

.menu-item:hover .dropDown {
    pointer-events: auto;
    opacity: 1;
    max-height: 500px;
    visibility: visible;
}

.dropDown .na2-drop-element:hover {
    color: #819730;
    transform: scale(1.1);
}

.menu-item:hover > a i {
    transform: rotate(180deg);
}

.na2-list {
    margin-top: -50px;
}

.na2-list li {
    position: relative;
}

.na2-list li a:hover {
    color: #819730;
}

.na2-list li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #819730;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;
}

.na2-list li a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 2px;
    background-color: #819730;
    bottom: 0;
    left: 0;
    transition: height 0.5s ease;
}

.na2-list li a span::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #819730;
    top: 0;
    right: 0;
    transition: width 0.5s ease;
    transform-origin: right;
}

.na2-list li a span::after {
    content: '';
    position: absolute;
    height: 0;
    width: 2px;
    background-color: #819730;
    bottom: 0;
    right: 0;
    transition: height 0.5s ease;
}

.na2-list li:hover a::before {
    width: 100%;

}

.na2-list li:hover a::after {
    height: 100%;
}

.na2-list li:hover a span::before {
    width: 100%;
}

.na2-list li:hover a span::after {
    height: 100%;
}
.na2-icons
{
    margin-top: 10px;
}
.fa-cart-shopping
{
    position: relative;
}
.icon-counter-container
{
    background-color: #819730;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    margin: -18px auto 0px 3px;
    padding: 3px 0px;
    font-weight: bold;
    transition: 0.5s;
}
.na2-icons li:hover i
{
    color: #819730;
}
.na2-icons li:hover i .icon-counter-container
{
    margin-top: -23px;
}
.icon-counter-container-p1
{
    font-weight: bold;
}
.na3
{
    background-color: #12372A;
    color: white;
    text-align: center;
    margin-top: -25px;
    padding: 7px 0px;
    font-size: 18px;
    text-transform: capitalize;
}
.na3 p
{
    display: inline;
}
.na3-link
{
    display: inline-block;
    margin: auto;
}
.na3-link-line
{
    background-color: antiquewhite;
    height: 2px;
    width: 80px;
    margin: 0px auto;
    transition: 0.7s;
}
.na3-link-tag
{
    color: antiquewhite;
    text-decoration: none;
    transition: 0.7s;
}
.na3-link:hover .na3-link-tag
{
    word-spacing: 5px;
    letter-spacing: 2px;
}
.na3-link:hover .na3-link-line , .na3-link:hover .na3-link-tag
{
    transform: scale(1.1);
}
.sec1-text
{
    width: 30%;
    text-align: center;
    position: relative;
}
.sec1-text-child
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0% , 40%);
}
.sec1-text-p1
{
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    margin-bottom: 15px;
    color: #9ab636;
}
.sec1-text-header
{
    text-transform: capitalize;
    font-size: 33px;
    margin-bottom: 15px;
}
.sec1-text-p2
{
    font-size: 18px;
    margin-bottom: 45px;
}
.sec1-text-bt1
{
    border-style: none;
    background-color: #12372a; 
    font-size: 20px;
    width: 150px;
    height: 55px;
    text-transform: uppercase;
    text-align: center;
    transition: 0.7s;
}
.sec1-text-bt1 a
{
    text-decoration: none;
    color: #fbfbda;
}
.sec1-text-bt1:hover
{
    border: 1px solid #12372a;
    background-color: #fbfbda;
    transform: scale(1.15);
}
.sec1-text-bt1:hover a
{
    color: #12372a;
}
/* End Section one */


/* Start Section Two*/
.sec2
{
    padding: 100px 0px;
    color: #fbfbda;
    font-weight: 900;
    font-size: 25px;
}
.sec2-container , .sec3-container , .sec5-container , .sec6-container
{
    justify-content: center;
    align-items: center;
}
.sec2-container , .sec6-container
{
    gap: 125px;
}
.sec2-item , .sec6-imgae-parent
{
    width: 23%;
    height: 330px;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 7px;
    transition: 1s;
}
.sec2 .item1
{
    background-image: url(../images/Olives.jpeg);
}
.sec2 .item2
{
    background-image: url(../images/Spread.jpeg);
}
.sec2 .item3
{
    background-image: url(../images/olive-oil.jpeg);
}
.sec2-item::after  , .sec6-item-image::after{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    transition: transform 0.6s ease;
}
.sec2-container .item1::after
{
    background: url('../images/Olives.jpeg') center/cover no-repeat;
}
.sec2-container .item2::after
{
    background: url('../images/Spread.jpeg') center/cover no-repeat;
}
.sec2-container .item3::after
{
    background: url('../images/olive-oil.jpeg') center/cover no-repeat;
}
.sec2-item:hover::after , .sec6-item:hover .sec6-item-image::after{
    transform: scale(1.1); 
}
.sec2-item-overlay , .sec3-item-overlay-child , .sec3-item-overlay-child-back , .sec5-item-overlay-child , .sec6-item-image-overlay
{
    position: absolute;
    border-radius:inherit;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 55, 42 , 0.2);
    z-index: 5;
}
.sec2-item-header
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.7s;
}
.sec2-item-link
{
    position: absolute;
    left: 50%;
    bottom: 10px;
    opacity: 0;
    transform: translate(-50% , 10px);
    text-transform: capitalize;
    transition: transform 0.7s;
}
.sec2-item:hover .sec2-item-header
{
    transform: translate(-50% , -40px);
}
.sec2-item:hover .sec2-item-link
{
    opacity: 1;
    transform: translate(-50% , 0px);
}
.sec2-item-link a
{
    text-decoration: none;
    color: #fbfbda;
}
.sec2-item-link .line
{
    height: 2px;
    width: 115px;
    background-color: #fbfbda;
    margin: -4px auto 0px auto;
}
/* End Section Two */


/* Start Section Three */
.sec3 , .sec4
{
    border-bottom: 1.5px solid #13392c;
}
.sec3-header
{
    padding: 0px 70px;
    justify-content: space-between;
    color: #12372A;
}
.sec3-header-title , .sec5-header-title 
{
    font-size: 30px;
}
.sec3-header ul
{
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}
.sec3-header ul li
{
    display: inline-block;
    margin-left: 35px;
}
.sec3-header-container-line
{
    color: #819730;
    text-align: center;
}
.sec3-header .sec3-header-line
{
    background-color: #9ab636;
    height: 4px;
    width: 80px;
    margin-top: 14px;
}
.foot-line , .sec3-border
{
    height: 1px;
    width: 1130px;
    margin: 0px auto;
    background-color: #12372a;
}
.sec3-container , .sec5-container
{
    gap: 20px;
    text-align: center;
    padding: 45px 0px 50px 0px;
    width: 100%;
}
.sec3-item , .sec5-item
{
    width: 21%;
    height: 500px;
    color: #12372A;
    font-size: 20px;
}
.sec3-item-image , .sec5-item-image
{
    position: relative;
    overflow: hidden;
    height: 80%;
    width: 100%;
    perspective: 1000px;
    border-radius: 12px;
}
.sec3-item-image-child  , .sec5-item-image-child 
{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.7s ease;
    border-radius: 12px;
}
.sec3-item-overlay , .sec3-item-overlay-back , .sec5-item-overlay{
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    border-radius: 12px;
}
.sec3-item-overlay
{
    z-index: 2;
}
.sec3-item-overlay-back
{
    transform: rotateY(180deg); 
    z-index: 1;
    color: #fbfada;
    position: relative;
    backface-visibility: visible;
}
.sec3-item .item1 {
    background-image: url(../images/Green-Olives.jpeg);
}
.sec3-item .item2
{
    background-image: url(../images/Green-Olive_spread.jpeg);
}
.sec3-item .item3
{
    background-image: url(../images/Oil.jpeg);
}
.sec3-item .item4
{
    background-image: url(../images/Tomato&Olive.jpeg);
}
.item1-back {
    background-image: url(../images/Olives-Back.jpeg);
}
.item2-back {
    background-image: url(../images/spread-back.jpeg);
}
.item3-back {
    background-image: url(../images/back-Oil.jpeg);
}
.item4-back {
    background-image: url(../images/Tomato&Olives_back.jpeg);
}
.sec3-item:hover .sec3-item-image-child {
    transform: rotateY(-180deg);
}

.sec3-container i  , .sec5-container i 
{
    margin: -80px -8px 0px 0px ;
    font-weight: 900;
    font-size: 27px;
}
.fa-less-than , .fa-greater-than
{
    color: #12372A;
}
.sec3-container .fa-greater-than , .sec5-container .fa-greater-than
{
    margin-left: -8px;
}
.sec3-item-info p , .sec5-item-info p
{
    margin: 15px 0px;
    font-size: 20px;
}
.sec3-item-info span , .sec5-item-info span
{
    margin-left: 17px;
}
.sec3-item-info .sp-delete , .sec5-item-info .sp-delete
{
    text-decoration: line-through;
    color: #819730;
}
.overlay-back-icons
{
    position: absolute;
    bottom: -60px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;  
    color: #000;             
    width: 170px;          
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    opacity: 0; 
    transition: all 2s ease;
}
.overlay-back-icons .icon-space
{
    position: relative;
    flex: 1;                   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color:#fbfada;
    color: #12372A;
}
.overlay-back-icons i {
    position: absolute;
    bottom: 50%;
    transform: translate(-12% , 50%);
    font-size: 25px;            
    line-height: 1;
}
.sec3-item:hover .overlay-back-icons , .sec5-item:hover .overlay-back-icons{
    bottom: 10px; 
    opacity: 1;  
}
.overlay-back-icons .icon-space:hover 
{
    background-color: #12372A;
    color: #fbfada;
}
.sec3-item:hover .sec3-item-info p , .sec5-item:hover .sec5-item-info p
{
    color: #819730;
}
/* End Section Three */



/* Start Section Four */
.sec4
{
    background-color: #fbfada;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.sec4 p
{
    font-weight: 400;
    color: #6c7f27;
}
.sec4-content
{
    margin: 0px 200px;
    font-size: 20px;
    color: #12372A;
}
.sec4 i
{
    font-size: 25px ;
    font-weight: 900;
}
.sec4-info-title
{
    margin: 30px 0px;
    word-spacing: 7px;
    font-size: 35px;
}
.sec4-info-p1
{
    width: 700px;
}
.sec4-content-logo
{
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.sec4 img
{
    width: 210px;
    height: 210px;
}
.sec4-logo-text
{
    margin-left: -47px;
}
.sec4-logo-text h3
{
    margin-left: -50px;
}
.sec4:hover p
{
    color: #12372A;
}
.sec4:hover h3
{
    color: #6c7f27;
}
/* End Section Four */




/* Start Section Five */

.sec5-header , .sec6-header
{
    margin-top: 100px;
    word-spacing: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec5-title-line , .sec6-title-line
{
    margin-top: 10px;
    background-color: #12372A;
    height: 3px;
    width: 200px;
}
.sec5-item .item1
{ 
    background-image: url(../images/Nuts.jpeg); 
}
.sec5-item .item2
{ 
    background-image: url(../images/spices.jpeg); 
}
.sec5-item .item3
{ 
    background-image: url(../images/Herbs.jpeg);
}
.sec5-item .item4
{ 
    background-image: url(../images/Focaccia.jpeg);
}
.sec5-item-overlay
{
    position: relative;
}
.sec5-item-overlay::after
{ 
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-radius: inherit;
    top: 0;
    left: 0;
    transition: 1.3s;
    background-position: center;
    background-size: cover;
}
.sec5-item-image-child .item1::after
{
    background-image: url(../images/Nuts-back.jpeg);
}
.sec5-item-image-child .item2::after
{
    background-image: url(../images/spices-back.jpeg);
}
.sec5-item-image-child .item3::after
{
    background-image: url(../images/Herbs-back.jpeg);
}
.sec5-item-image-child .item4::after
{
    background-image: url(../images/Back-Focaccia.jpeg);
}
.sec5-item:hover .sec5-item-overlay::after
{
    height: 100%;
}
.sec5 .overlay-back-icons
{
    z-index: 10;
}
.sec5 , .sec6
{
    border-bottom: 2px solid #12372A;
}
/* End Section Five */



/* Start Section Six */
.sec6
{
    flex-direction: column;
    background-color: #fbfada;
    padding-top: 45px 
}
.sec6-header
{
    margin-top: 0px;
    color: #12372A;
}
.sec6-title-line
{
    width: 250px;
    margin-bottom: 50px;
}
.sec6-item
{
    width: 25%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: visible;
    border-radius: 7px;
    transition: 1s;
}
.sec6-imgae-parent
{
    position: relative;
}
.sec6-imgae-parent , .sec6-item-image
{
    width: 100%;
}
.sec6 .item1
{
    background-image: url(../images/Olives-Herbs.jpeg);
}
.sec6 .item2
{
    background-image: url(../images/Foccacia-platter.jpeg);
}
.sec6 .item3
{
    background-image: url(../images/OLive-oil-garlic.jpeg);
}
.sec6-container .item1::after
{
    background: url('../images/Olives-Herbs.jpeg') center/cover no-repeat;
}
.sec6-container .item2::after
{
    background: url('../images/Foccacia-platter.jpeg') center/cover no-repeat;
}
.sec6-container .item3::after
{
    background: url('../images/OLive-oil-garlic.jpeg') center/cover no-repeat;
}
.sec6-item-info
{
    margin: 50px 0px;
    font-size: 19px;
    font-weight: 500;
    color: #12372A;
}
.sec6-item-info h3
{
    margin: 15px 0px;
}
.sec6-item-info a
{
    font-size: 25px;
    color: #12372A;
    display: inline-block;              
    transition: transform .3s; 
}
.sec6-item-info-p2
{
    margin-bottom: 20px;
}
.sec6-item:hover h3
{
    color: #6c7f27;
}
.sec6-item-info a:hover
{
    color: #6c7f27;
    transform: scale(1.2);
}
/* End Section Six */








.sec7
{
    padding: 70px 135px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.sec7-item
{
    text-align: center;
    color: #12372A;
}
.sec7-item .sec7-item-icon {
    font-size: 50px;
    margin-bottom: 25px;
    position: relative; 
    display: inline-block;
    width: 50px; 
    height: 50px;
    color: #819730;
}

.sec7-item .sec7-item-icon i {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.1s ease;
}
.sec7-item .sec7-item-icon .first {
    opacity: 1;
    transition: 1s;
    transform: translateY(0);
}

.sec7-item .sec7-item-icon .second {
    opacity: 0;
    color: #12372A;
    transform: translateY(10px);
}

.sec7-item .sec7-item-icon:hover .first {
    opacity: 0;
    transform: translateY(-10px);
}

.sec7-item .sec7-item-icon:hover .second {
    opacity: 1;
    transition: 0.7s;
    transform: translateY(0);
}

.sec7-item h3 
{
    font-size: 19px;
    margin-bottom: 5px;
}
.sec7-item p
{
    font-size: 16px;
}














.foot
{
    display: flex;
    flex-direction: column;
    background-color: #fbfada;
}
.foot-top , .foot-middle
{
    margin: 0px auto;
    padding: 30px 0px 7px 0px;
    color: #12372A;
}
.foot-top-text h2
{
    font-size: 21px;
    text-transform: capitalize;
    margin-bottom: 12px;
}
.foot-top-text p
{
    font-size: 15.7px;
}
.foot-top form
{
    margin: 7px 85px;
}
.foot-top ul
{
    list-style: none;
    padding: 7px 0px;
}
.foot-top input
{
    width: 310px;
    height: 41px;
    padding: 20px 15px;
    margin: -5px 10px 0px 0px ;
    border-radius: 0;
    border: 0px;
    background-color: #819730;
    color: #fbfbda;
}
.foot-top input::placeholder
{
    color: #fbfbda;
    text-transform: capitalize;
    font-size: 16px;
}
.foot-top button
{
    background-color: #12372A;
    color: #fbfbda;
    width: 130px;
    height: 41px;
    text-align: center;
    font-size: 18px;
    border-radius: 0;
    border: 0px;
    transition: 0.5s;
}
.foot-top button:hover
{
    transform: scale(1.15);
}
.foot-top ul li
{
    display: inline-block;
    margin-left: 15px;
    font-size: 23px;
    transition: 0.7s;
}
.foot-top ul li:hover
{
    color: #819730;
    transform: scale(1.37);
}
.foot-middle
{
    gap: 80px;
    padding: 50px 0px 35px 0px;
}
.foot-middle-logo img
{
    margin: -57px 0px 0px -25px;
}
.foot-middle-logo h2
{
    margin: -18px 0px 0px -30px;
    font-weight: bold;
}
.foot-middle h3
{
    margin-bottom: 20px;
}
.foot-middle ul
{
    list-style: none;
    text-transform: capitalize;
}
.foot-middle ul li
{
    margin-bottom: 10px;
    transition: 1s;
    font-size: 17px;
}
.foot-middle ul a
{
    text-decoration: none;
    color: #6c7f27;
}
.foot-middle ul li:hover
{
    text-decoration: underline;
    color: #6c7f27;
    transform: scale(1.2);
}
.foot-bottom
{
    padding: 25px;
    margin: 0px auto;
    font-size: 19px;
    color: #6c7f27;
    font-weight: 500;
}
.foot-bottom .foot-bottom-sp3 , .foot-bottom i
{
    color: #12372A;
    font-weight: 700;
    transition: 1.5s;
}
.foot-bottom .foot-bottom-sp3:hover
{
    text-decoration: underline;
    letter-spacing: 1px;
}
.foot-bottom i
{
    transform:rotate(-45deg);
    animation:pulse 1s ease-in-out infinite;
    position:relative;
    margin: 0px 4px;
}
@keyframes pulse
{
    0%   { transform:rotate(0deg) scale(1);}
    50%  { transform:rotate(0deg) scale(1.5);}
    100% { transform:rotate(0deg) scale(1);}
}

